@import "style.css"; 

table {
    width: inherit;
    border-collapse: collapse;
    border: 1px solid rgb(0, 68, 9);
}

thead {
    background: linear-gradient(to bottom, rgba(135, 124, 235, 0.5), rgba(136, 255, 0, 0.904));
    font-family: 'Rock Salt', cursive;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #7beef7;
  }
  
tbody tr:nth-child(even) {
    background-color: #95e4a9;
}

.selection-box {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-spacing: 10px;
    border: 2px solid greenyellow;
    border-radius: 5px;
}

table tbody tr:hover td {
  background-color: rgb(196, 176, 176);
}